.notification {
  display: flex;
  justify-content: center;
  background-color: #888888;
  text-align: center;
  padding: 5px;
  border-radius: 0px;
  padding-top: 20px;
}

.notification p {

  color: #FFFFFF;
}