.navbar {
  height: 120px;
  margin-right: 40px;
}

.navbar img {
  height: 90px;
  margin-top: 10px;
  margin-left: 40px
}

.navbar-item {
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  margin: 0px;
}