.subnav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background-color: #94A231;
}

.subnav-text {
  margin-right: 100px;
}

.subnav-text p {
  color: #FFFFFF;
  margin-bottom: 0px;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
  .subnav-text {
    margin-right: 40px;
  }
}