.subnav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background-color: #2F4858;
}

.subnav-text {
  margin-right: 40px;
}

.subnav-text p {
  color: #FFFFFF;
  margin-bottom: 0px;
}