.ReactModal__Overlay--after-open {
  z-index: 100;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.delete-button {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
}