.centreimage-container {
  border: #E0E0E0 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FBFBFB;
}

.centreimage-text {
  text-align: center;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}