.introalternate-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.introalternate-container-2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.introalternate-intro {
  padding-right: 100px;
  padding-left: 100px;
}

.introalternate-left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.introalternate-left-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  padding-top: 40px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.introalternate-left-img {
  padding-top: 40px;
  padding-bottom: 40px;
}

.introalternate-left-img img {
  width: 600px;
  height: 400px;
}

.introalternate-right {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.introalternate-right-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  padding-top: 40px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.introalternate-right-img {
  padding-top: 40px;
  padding-bottom: 40px;
}

.introalternate-right-img img {
  width: 600px;
  height: 400px;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
  .introalternate-left-img {
    display: none;
  }
  .introalternate-left-text {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .introalternate-right-img {
    display: none;
  }
  .introalternate-right-text {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}