.intro12col {
  border: #E0E0E0 1px solid;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.intro12col ul {
  list-style-type: circle;
  padding-left: 25px;
  margin-bottom: 20px;
}