.intro12col {
  padding-top: 80px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.intro12col ul {
  list-style-type: circle;
  padding-left: 25px;
  margin-bottom: 20px;
}

.intro12col a {
  color: #4A4A4A;
  font-size: 12pt;

}

.intro12col a:hover {
  color: #4A4A4A;
}

.download a {
  text-decoration: underline;
}

.intro12col-block {
  margin-bottom: 40px;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
  .intro12col {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}