/* Desktop */

.text-img-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 80px;
}

.text-img-container-2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-img-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding-right: 100px;
  padding-left: 100px;
}

.text-img-text2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 100px;
  padding-left: 100px;
}

.text-img-img {
  display: flex;
  justify-content: flex-start;
}

.text-img-img img {
  width: 600px;
  height: 400px;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
  .intro {
    padding-top: 40px;
  }
  .text-img-container {
    padding-top: 0px;
  }
  .text-img-container-2 {
    padding-top: 0px;
    padding-bottom: 40px;
  }
  .text-img-img {
    display: none;
  }
  .text-img-text-intro {
    padding-right: 40px;
    padding-left: 40px;
  }
  .text-img-text {
    padding-right: 40px;
    padding-left: 40px;
  }
  .text-img-text2 {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 0px;
  }
}