.text-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  border: #E0E0E0 1px solid;
  background-color: #FBFBFB;
}

.text-img-container-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  border: #E0E0E0 1px solid;
  background-color: #FFFFFF;
}

.text-img-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.text-img-img {
  display: flex;
  justify-content: flex-start;
  width: 460px;
  padding-top: 40px;
  padding-left: 40px
}