.widget-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 100px;
  padding-left: 100px;
}

.widget-container-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  border: #E0E0E0 1px solid;
  background-color: #FBFBFB;
}

.widget-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding-top: 40px;
  padding-right: 100px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.widget {
  display: flex;
  border: #E0E0E0 1px solid;
  height: 375px;
  width: 460px;
  padding-top: 40px;
  padding-left: 40px;
}

/* Tablet */

@media only screen and (max-width: 1260px) {
  .widget-text {
    padding-right: 40px;
    padding-left: 40px;
  }
  .widget-container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Mobile */