.widget-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
}

.widget-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding-right: 100px;
  padding-left: 100px;
}

.widget {
  display: flex;
  border: #E0E0E0 1px solid;
  height: 375px;
  width: 500px;
}

/* Tablet */

@media only screen and (max-width: 1260px) {
  .widget-text {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .widget-container {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Mobile */