/* Desktop */

.hero-home-container {
  border: #E0E0E0 1px solid;
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(https://lh3.googleusercontent.com/q2GEEQLUY0LZoYI8JBCvfwJULqs2G9iwbL6omT1-8hSzHbMdIWPbrjrUIYpEv5SSGDxCjecPbCFuQDLJB1qfDyDU352sLI_puusI5nZoM26VNRPwLCcSdzvfQZweHHDK29kbq5IsoVonJexvmD2Z8_exYBbUdZf4YyWOPOF24dU8JGMctaJlwn7-Hn63nWWyTCExfSUCLbkpkeqbgVzxsY4-VyAYe8_P-ZqUctpGgoG58vzB2xKQ-JKOx_Deo7ulKkVr9TFaNqlg5VY2XkzAcr2Uy_zD53PbApOA5QrTIDWdvoKsyE4PdfQXb4vpBeEYULtHA_joPzPuM_-v-4awV7cRnZHsIc2ZWYHojzb9RtHT8T-gws8iTbb9aW2tJi6VFkb4ACOji2sRp9wVqi_s3m0EtrbxReoPMS0sSqm-vE8rZvcvpH6Qu7E3kj9w1Tq4qOvZltBQH_NofRy8ne5C7e2h-DmbsXptEUFB_dW-ZpZVFN9v3RI7xe7zCzaLZzoZJlL4-iLhpSFStxeARgpVBQSfN_Y9-MbvNHoojgTU3KaHiIoY6vZljlvrsYkx8hJCUajCO6JYJ0LDYwcVhtWCBkLwkKRqtAybMThXxpdmEROylNIO6_dLdnyAsyiuZ_iaOifKhDXOk5_4UuCO30txlcyaLLQ-sQTDBUodCu2VAvAc6aX3k6D96EDeRN_YE0dY7ZF6UtOAnoMDo-ecgL7CTaE-=w1024-h408-no?authuser=0);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-home-text {
  display: flex;
  margin-left: 40px;
  align-items: center;
  color: #FFFFFF;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
  .hero-home-container {
    height: 300px;
  }
}

/* Mobile */

@media only screen and (max-width: 1024px) {
  .hero-home-container {
    height: 184px;
  }
}