/* Desktop */

.hero-home-container {
  display: flex;
  min-height: 410px;
  width: 100%;
  background-image: url(http://pensacola.co.uk/images/hp-hero-1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-home-text {
  display: flex;
  margin-left: 100px;
  align-items: center;
  color: #FFFFFF;
}

/* Carehome */

.hero-care-container {
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(http://pensacola.co.uk/images/carhome-hero-1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Day care */

.hero-day-container {
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(http://pensacola.co.uk/images/daycare-hero-1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Meet the Team */

.hero-meet-container {
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(http://pensacola.co.uk/images/meet-the-team-hero-1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Testimonials */

.hero-test-container {
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(http://pensacola.co.uk/images/test-hero-1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}


/* Tablet/Mobile */

@media only screen and (max-width: 1024px) {
  .hero-home-container {
    min-height: 200px;
  }
  .hero-care-container {
    max-height: 200px;
  }
  .hero-day-container {
    max-height: 200px;
  }
  .hero-meet-container {
    max-height: 200px;
  }
  .hero-test-container {
    max-height: 200px;
  }
  .hero-home-text {
    margin-left: 40px;
  }
}