/* Desktop */

.hero-home-container {
  border: #E0E0E0 1px solid;
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(https://lh3.googleusercontent.com/q2GEEQLUY0LZoYI8JBCvfwJULqs2G9iwbL6omT1-8hSzHbMdIWPbrjrUIYpEv5SSGDxCjecPbCFuQDLJB1qfDyDU352sLI_puusI5nZoM26VNRPwLCcSdzvfQZweHHDK29kbq5IsoVonJexvmD2Z8_exYBbUdZf4YyWOPOF24dU8JGMctaJlwn7-Hn63nWWyTCExfSUCLbkpkeqbgVzxsY4-VyAYe8_P-ZqUctpGgoG58vzB2xKQ-JKOx_Deo7ulKkVr9TFaNqlg5VY2XkzAcr2Uy_zD53PbApOA5QrTIDWdvoKsyE4PdfQXb4vpBeEYULtHA_joPzPuM_-v-4awV7cRnZHsIc2ZWYHojzb9RtHT8T-gws8iTbb9aW2tJi6VFkb4ACOji2sRp9wVqi_s3m0EtrbxReoPMS0sSqm-vE8rZvcvpH6Qu7E3kj9w1Tq4qOvZltBQH_NofRy8ne5C7e2h-DmbsXptEUFB_dW-ZpZVFN9v3RI7xe7zCzaLZzoZJlL4-iLhpSFStxeARgpVBQSfN_Y9-MbvNHoojgTU3KaHiIoY6vZljlvrsYkx8hJCUajCO6JYJ0LDYwcVhtWCBkLwkKRqtAybMThXxpdmEROylNIO6_dLdnyAsyiuZ_iaOifKhDXOk5_4UuCO30txlcyaLLQ-sQTDBUodCu2VAvAc6aX3k6D96EDeRN_YE0dY7ZF6UtOAnoMDo-ecgL7CTaE-=w1024-h408-no?authuser=0);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-home-text {
  display: flex;
  margin-left: 40px;
  align-items: center;
  color: #FFFFFF;
}

/* Carehome */

.hero-care-container {
  border: #E0E0E0 1px solid;
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(https://lh3.googleusercontent.com/xsW-QtA-xo15Xt-8nPc96NaZ_9E8uw0xY_L0z2mJKIC0LIlKfow5UahY8D7IOw31BN0UqjAFWllER-6akNuIOeuPXCt3iXlV8hNxCu6ksTjtNiEmxRzYMpZ3IA0aHLwurT8I9iUp9WuHm7FJJn_PvPcRndk2_oisyJC5hIK3G89QEX2yzJxzcf7knzUZB6sWC1w56LAL82ZnCQlA5I4zpLDzPmmu7F48duIgw33F3_g6nVOrB6nrwalvLEj6VARN3hG1CoFAlrNuR-KkZqBmL7aTNR6mXjOqaM5Gn854gpvcrZB1bCWLoOi6S_lPy7FQOXsH8lmmLfWt9-2KHZvHfGAXEvtXMwAnzyTQ9zmGVHCihiJE7XQH5l0G7Sky7QDugYgqSQ2RAyhxf4zeBAwOhqQt26VJJ6rzlQ8mfT6hRpWvRpDt-WpLEbjjcGm9qH12WK5DMJnOVqSe-kiYNYMyrmbiTpH-VX8iXI_K7lRtaAktGtlIMTmN0O1eFZi68Rj8k8qgwXeC1MkQRHYgjwiXCXVrSsTegLncklN89e8kAmzbmRmONGcqGMpD6bM0XieMcgiLBEP6-gHtApwU3rMUeSHoCoAn7-N1SYza0kubsSuwxixrR5Ex8V9Y0Dw-hstyLmAjop-LO32_TAXBhlwoEq7CNNlGQq4b6tA34kCg6UaxWrxZZQfrIv8NzXJK_vyixef6wvw-EMojPWp_Wvovl_-w=w1024-h408-no?authuser=0);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Day care */

.hero-day-container {
  border: #E0E0E0 1px solid;
  display: flex;
  height: 410px;
  width: 100%;
  background-image: url(https://lh3.googleusercontent.com/FqHsrFKOAoM0q-cb1pgoTdsOkReLH75x7DQsTTfDu1iHXPTrQL0rPjHACJE9Ekknk7VRI27LYCwI6tTsaY7hE9rV7PuCxK85-EvdH5ay1zUHobjAXmwLimrm6sBNhjNGqb3IS14j2rOSNxd3S9GtapldLWToZiCbOQ9s4twaNlc6QZjW8Ao-WZT__6nFJCoFtxZaV2ZLj_ykKANxxKr7AYHQH9ibKxhBoZVSxqHVdi_u3tbsnFwPlYC5oC55tOnIJrMJU5610OR8frSd9IgQFypTiP0t0WLTuIXje_MC86vnjZRFp5LBY_tZY3Moxf0rm9vWOovkTe56To1de0r-w7mz62T9giV7m2KcBrKZYSvWCilzQ-O5byH_0FIKT2uV5KQS6ZRGuk6T0P1jTHUaJObiwmdGjJBP68mf0XU-wqxb9Q5_X95slbd_YZidVW4qb8dsHhdQICLjcyiLfYXunmA1Oh9BqiXlxHIH8aRgOj6QRHaJX-XGuXfxaEC147fq3vdWydlFFdWXGWwYklmLehf9JyUSO2Z4b7h0jwWbZlEjbMLwonpC5KW6MAqKxygECCIx_CUKBKrBSKDUFnXEetjGZACs3FFIzSWWeHiG47gWnjvIrYr-2zDXLZH5VmUoTdHMipemyjtEevvJ3tY8dx9TLVjcQfq9wIJ4Ex3XIXS7bfIsn0VX86zg74KzdEyHCouwDlxt595iEho1M6FeSXgu=w1024-h408-no?authuser=0);
  background-repeat: no-repeat;
  background-size: 100% auto;
}


/* Tablet/Mobile */

@media only screen and (max-width: 1024px) {
  .hero-home-container {
    height: 200px;
  }
  .hero-care-container {
    height: 200px;
  }
  .hero-day-container {
    height: 200px;
  }
}