.hero-sub-container {
  border: #E0E0E0 1px solid;
  display: flex;
  height: 240px;
  width: 100%;
  background-color: #FBFBFB;
}

.hero-sub-text {
  display: flex;
  margin-left: 100px;
  align-items: center;
}